@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@import './variables';
@import 'parts/paper';
@import 'parts/header';
@import 'parts/experience';
@import 'parts/skills';
@import 'parts/education';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: $palette-1;
}

body {
  background: $gradient-bg;
}

.header-container,
.container {
  padding: 20px;
  display: flex;
  // flex-direction: row;
  align-items: center;
  flex-direction: column;
}

section {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $palette-4;
}

.consent {
  font-style: italic;
  border: none;

  p {
    line-height: 18px;
  }
}