.paper {
  background: white;
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    width: 1024px;
    margin: 80px auto;
    box-shadow: $big-shadow;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
  }

  @media print {}
}