@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

a {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 5px;
  font-weight: 500;
}

a span {
  display: block;
}

a:hover {
  color: #6B5C7B;
}

span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.paper {
  background: white;
  width: 100%;
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .paper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .paper {
    width: 1024px;
    margin: 80px auto;
    -webkit-box-shadow: 0 15px 30px #00000080;
            box-shadow: 0 15px 30px #00000080;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#F2727F), to(#FECEAA));
  background: linear-gradient(to right, #F2727F, #FECEAA);
  width: 100%;
}

@media (min-width: 768px) {
  header {
    background: #F2727F;
    width: 280px;
    min-height: 100%;
  }
}

header .header-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .general-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  header .general-skills {
    display: none;
  }
}

.profile-picture {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  -webkit-box-shadow: 0 2px 4px #00000080;
          box-shadow: 0 2px 4px #00000080;
}

.profile-picture img {
  width: 100%;
}

@media (min-width: 768px) {
  .profile-picture {
    width: 240px;
    height: 240px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .profile-picture {
    display: none;
  }
}

.personal-info {
  margin-bottom: 20px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info a {
  margin-right: 20px;
}

.contact-info span {
  font-weight: 700;
  font-size: 12px;
}

@media (min-width: 768px) {
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info a {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.position {
  border-bottom: 1px solid #FECEAA;
  padding: 20px 0;
}

.position:last-child {
  border: none;
}

.position .dates {
  display: block;
  color: #C06C84;
}

.position .title {
  font-size: 18px;
}

.position .company {
  text-transform: none;
}

.position .label {
  margin-bottom: -5px;
  font-size: 11px;
  color: #C06C84;
}

.position p {
  font-size: 12px;
  line-height: 20px;
}

.position .tech {
  display: inline-block;
  background: #C06C84;
  color: white;
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 12px;
}

.skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-set h3 {
  display: block;
  width: 100%;
}

.skill {
  width: 50%;
  padding: 0 20px 10px 0;
}

.skill:nth-child(odd) {
  padding-right: 0;
}

@media (max-width: 425px) {
  .skill {
    width: 100%;
    padding-right: 0;
  }
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background: #6B5C7B;
  border-radius: 5px;
}

.progress-bar .progress-drag {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: #F2727F;
  -webkit-animation: load 2s normal forwards;
          animation: load 2s normal forwards;
}

.general-skills {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.general-skills h3 {
  width: 100%;
}

.general-skills .brick {
  background: #6B5C7B;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
}

.general-skills .brick span {
  color: white;
}

@media (max-width: 768px) {
  .container .general-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes load {
  0% {
    width: 6px;
  }
  100% {
  }
}

@keyframes load {
  0% {
    width: 6px;
  }
  100% {
  }
}

.education .degree {
  text-transform: capitalize;
}

.education .dates {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #2d506b;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d506b), to(#6B5C7B));
  background: linear-gradient(#2d506b, #6B5C7B);
}

.header-container,
.container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #F2727F;
}

.consent {
  font-style: italic;
  border: none;
}

.consent p {
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */